		body{
			background-color: #ccc;
		}

		.box{
			background-color: #fff;
			height: 601px;
			width: 601px;
			padding: 9px;
			position: absolute;
			font-family: 微软雅黑;
			border: 1px solid #000;
			/*z-index: -1;*/
		}

		.main{
			width: 600px;
			height: 600px;
			border-top: 1px solid #000;
			border-left: 1px solid #000;
		}

		.column12{
			width: 600px;
		}

		.row12{
			height: 600px;
		}

		.column3{
			width: 149px;
			border-right: 1px solid #000;
			margin: 0px;
			float: left;
			text-align: center;
		}

		.column4{
			width: 200px;
			margin: 0px;
			float: left;
		}

		.column6{
			width: 299px;
			border-right: 1px solid #000;
			margin: 0px;
			float: left;
		}

		.row3{
			height: 149px;
			border-bottom: 1px solid #000;
			margin: 0px;
			text-align: center;
			overflow: hidden;
		}

		.row6{
			height: 299px;
			border-bottom: 1px solid #000;
			margin: 0px;
			text-align: center;
			overflow: hidden;
		}

		.time{
			color: red;
			height: 150px;
			width: 150px;
			line-height: 140px;
			position: absolute;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			z-index: 2;
		}

		.result{
			color: red;
			height: 150px;
			width: 150px;
			line-height: 140px;
			position: absolute;
			font-size: 30px;
			font-weight: bold;
			text-align: center;
			z-index: 999;
		}		

		.tip{
			position:absolute;
			color: red;
			top: 0px;
			height: 150px;
			width: 600px;
			text-align: center;			
			/*z-index: 2;*/
			font-size: 20px;
			font-weight: bold;
			padding-top: 20px;
		}

		.row1{
			top: 0px;
		}

		a{
			line-height: 100px;
			font-size: 20px;
			text-align: center;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
		}

		h1{
			color: #000;
		}

		/*失败时的动画*/
		@-webkit-keyframes wrongAction{
			0%{-webkit-transform:scale(1);}
			25%{-webkit-transform:scale(0.25);}
			50%{-webkit-transform:scale(0.75);}
			75%{-webkit-transform:scale(0.4);}
			100%{-webkit-transform:scale(1);}
		}

		@-moz-keyframes wrongAction{
			0%{-moz-transform:scale(1);}
			25%{-moz-transform:scale(0.25);}
			50%{-moz-transform:scale(0.75);}
			75%{-moz-transform:scale(0.4);}
			100%{-moz-transform:scale(1);}
		}

		@-o-keyframes wrongAction{
			0%{-o-transform:scale(1);}
			25%{-o-transform:scale(0.25);}
			50%{-o-transform:scale(0.75);}
			75%{-o-transform:scale(0.4);}
			100%{-o-transform:scale(1);}
		}		

		/*正常点击时的动画*/
		@-webkit-keyframes clickStyle{
			0%{-webkit-transform:scale(0.8);}
			100%{-webkit-transform:scale(1);}
		}

		@-moz-keyframes clickStyle{
			0%{-webkit-transform:scale(0.8);}
			100%{-webkit-transform:scale(1);}
		}

		@-o-keyframes clickStyle{
			0%{-webkit-transform:scale(0.8);}
			100%{-webkit-transform:scale(1);}
		}